apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: enrichment-web-deployment
  annotations:
    ${K8S_INGRESS_ANNOTATIONS}
spec:
  ingressClassName: kong
  tls:
    - hosts:
        - ${K8S_HOSTNAME}
      secretName: ${K8S_SECRETNAME}
  rules:
    - host: ${K8S_HOSTNAME}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: enrichment-web-service
                port:
                  number: 80